azure-functions>=1.18.0,<2.0.0
azure-communication-callautomation==1.5.0
azure-identity>=1.15.0,<2.0.0
azure-keyvault-secrets>=4.7.0,<5.0.0
azure-appconfiguration>=1.5.0,<2.0.0
azure-data-tables==12.7.0
rapidfuzz>=3.6.0,<4.0.0
jellyfish>=1.0.0,<2.0.0
azure-monitor-opentelemetry>=1.2.0,<2.0.0
